#
# dns-blackhole.conf.dist
#

# Directory in which config and custom host files reside
dns_blackhole_dir="/usr/local/etc/dns-blackhole"

# Path to your BIND namedb directory where included files go
named_includes_dir="/usr/local/etc/namedb"

# Path to your BIND namedb directory where zone data files go
named_zone_files_dir="/usr/local/etc/namedb"

# Temporary directory in which to fetch and build zone files
tmp_dir="/var/tmp/dns-blackhole"

# The fully qualified hostname of your nameserver
dns_server_hostname="localhost"

# Seconds before fetch times out
fetch_timeout="15"

# Seconds to wait between fetch retries
retry_seconds="10"

# Maximum number of fetch attempts before giving up
max_attempts="3"

# Master host list URL
# See https://github.com/StevenBlack/hosts for full details
master_host_list_url="https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts"
